@using SocialNetwork.Core.Application.ViewModels.User;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "I forgot my password";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>I forgot my password</h4>
                </div>

                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <form method="post" asp-controller="User" asp-action="ForgotPassword">

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Username: </label>
                            <input asp-for="UserName" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary">Reset my password</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Go back</a>

                    </form>
                    <p>Luego de digitar tu username, favor de verificar tu email para obtener la nueva contraseña</p>
                </div>
            </div>
        </div>
    </div>
</div>

