@using SocialNetwork.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>User information</h4>
                </div>
                <div class="card-body">

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <form enctype="multipart/form-data" method="post" asp-controller="Profile" asp-action="Update">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProfilePictureUrl" />

                        <div class="mb-3">
                            <label asp-for="ProfilePicture" class="form-label">Profile photo: </label>
                            <input asp-for="ProfilePicture" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Name: </label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Last name: </label>
                            <input asp-for="LastName" class="form-control" />
                        </div>

                        <input type="hidden" asp-for="UserName" class="form-control" />

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">New Password: </label>
                            <input asp-for="Password" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm new password: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Phone number: </label>
                            <input asp-for="Phone" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email: </label>
                            <input asp-for="Email" class="form-control" />
                        </div>

                        <div class="d-flex flex-row justify-content-end gap-2">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

